.Consent {
  h2 {
    font-size: 40px;
  }

  p.Consent__copy {
    color: #2a2a2a;
    font-size: 18px;
    line-height: 20px;
    //margin-left: 20%;
    // margin-right: 10%;
    // font-family: georgia;
    // width: 320px;
  }

  .Consent__form {
    .radiobuttons .MuiFormControlLabel-root {
      span {
        font-size: 1.8rem;
      }
    }
  }

  

  margin-top: 84px;

  &__inset {
    margin-left: 5%;
  }

  .MuiCheckbox-root {
    padding-left: 0;
  }

  button.x {
    color: #fff;
    background-color: #000;
  }
}

.learnMoreToggle {
  font-family: 'Source Serif Pro';
  border-bottom: 1px solid #ddd;
  padding-bottom: 3px;

  margin-left: 0;
  text-align: right;

  cursor: pointer;
}

.learnLessToggle {
  margin-top: 2rem;
  border-bottom: 1px solid #ddd;

  justify-content: space-between;
  align-items: flex-end;
  button {
    padding: 5px 0 5px 0;
    border: none;
    background: transparent;
  }
}

@media only screen and (max-width: 768px) {
  .Consent {
    /* For mobile phones: */
    p.Consent__copy {
      margin-right: 0px;
      margin-left: 0px;
    }
    h2 {
      margin-left: 0;
    }
  }
}
