.Consent {
  margin-top: .5rem;



  .Consent__form {
    .radiobuttons .MuiFormControlLabel-root {
      span {
        font-size: 1.8rem;
      }
    }
  }

  &__inset {
    margin-left: 5%;
  }

  .MuiCheckbox-root {
    padding-left: 0;
  }


  .paging {
    color: #FC9090
  }
 
  .quizAnswer {
    margin: 20px;
  }

  .MuiFormControlLabel-root.success .MuiRadio-root.Mui-checked {
    color:#0085FF;
    // background-color: rgb(232, 244, 253); // default background color (MuiAlert-standardInfo)
  }
  .MuiFormControlLabel-root.error .MuiRadio-root.Mui-checked {
    color: #f44336; // default error color
    // background-color: rgb(253, 236, 234); //default background color (MuiAlert-standardError)
  }

  &__navButtons {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      width:100%;
 
      button {
        width: 92px;
      }
  }



}

.learnMoreToggle {
  font-family: 'Source Serif Pro';
  border-bottom: 1px solid #ddd;
  padding-bottom: 3px;

  margin-left: 0;
  text-align: right;
  margin-bottom: 4rem;
  cursor: pointer;
}

.learnLessToggle {
  margin-top: 2rem;
  border-bottom: 1px solid #ddd;

  justify-content: space-between;
  align-items: flex-end;
  button {
    padding: 5px 0 5px 0;
    border: none;
    background: transparent;
  }
}

@media only screen and (max-width: 768px) {
  
}
