
  .ConsentInfo {
   
    .quizAnswer {
      margin: 20px;
    }

    .MuiToggleButtonGroup-root.verticalToggle .MuiToggleButtonGroup-grouped.success.Mui-selected {
      color: rgb(237, 247, 237)
    }
    .MuiToggleButtonGroup-root.verticalToggle .MuiToggleButtonGroup-grouped.error.Mui-selected {
      color: rgb(253, 236, 234)
    }

    &__navButtons {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        width:100%;
        padding-bottom: 100px;
    }
  }


