.FloatingToolbar {
    position: fixed; /* Make it stick/fixed */
    top: 0px; /* Stay on top */
  
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
  
    position: fixed;
    text-align: center;
    padding: 10px;
  
    right: 0;
    left: 0;
    width: initial;
    color: #F2F2F2;
    background-color: #2E2E2E;
    height: 56px;
    z-index: 10;

    transition: top 0.3s;
    a, a:hover, a:visited {
      color: #F2F2F2;
    }
    &__toggle {
        display: 'flex';
        justify-content: 'center';
        &__text {
          align-self: center;
          font-size: 1.5rem;
        }
      }
      
  }