.TopNav {
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__menu {
    overflow: hidden;
    background-color: #fcfcfc;

    a {
      float: left;
      color: #2a2a2a;
      text-align: center;
      padding: 16px 16px;
      margin-left: 32px;
      text-decoration: none;
      font-size: 17px;

      &:hover {
        background-color: #ff6d6d;
        color: #ffff;
      }

      &.active {
        border-bottom: 4px solid black;
        color: black;
      }
    }

    .icon {
      display: none;
    }
  }
}

@media screen and (max-width: 600px) {
  .TopNav {
    align-items: flex-start;
    justify-content: space-between;

    &__menu {
      order: 1;

      a {
        padding: 4px 16px;

        &:not(:first-child) {
          display: none;
        }
        &.icon {
          float: right;
          display: block;
        }

        &:not(.icon) {
          margin-left: 10px;
        }
      }

      &.responsive {
        position: relative;

        .icon {
          position: absolute;
          right: 0;
          top: 0;
          padding: 4px;
        }
        a {
          float: none;
          display: block;
          text-align: left;
        }
      }
    }

    &__buttons {
        margin-top: 4px;
        margin-left: 8px;
      }

  }
  
}
