.theme-crc .SRC-ReactJsonForm {
  $font-size: 1.6rem;
  $red-error: #ff6d6d;
  $red-error2: #ff6d6d;

  @mixin subfield_inverted {
    label {
      color: #fff;
    }
    margin-top: -5px;
    padding: 20px;
    background-color: #000;
    margin-bottom: .5rem;
  }

  .scroll-area {
    overflow-x: auto;
    padding: 0px 25px;
  }

  table.summary-table > tbody > tr:first-child > td {
    border-top: none;
  }

  .subfield_inverted {
    @include subfield_inverted;
  }

  .form-group.field-error {
    margin-left: -15px;
    padding-left: 15px;
    border-left: 10px solid #ff6d6d;

    &.has-error {
      .checkbox,
      .checkbox-inline,
      .radio,
      .radio-inline,
      .checkbox label,
      .checkbox-inline label,
      .radio label,
      .radio-inline label {
        color: unset;
      }

      .control-label::before {
        font-family: 'Glyphicons Halflings';
        font-weight: 900;
        content: '\e101';
        font-size: 1.2rem;
        margin-right: 5px;
      }
    }
  }
  .form-error-summary {
   display: block ;// display: none;
  }
  .error {
    color: $red-error;
  }
  .error-label {
    font-weight: 700;
  }
  div.checkbox,
  div.radio {
    padding: 10px 0; // 10px 10px 10px 0;
    border: 1px solid black;
    min-width: 27px;

    align-items: center;
    display: flex;
    > label span {
      //AG54display: block;
    }

    > label span span {
      min-height: 20px;
      //padding: 10px 20px 10px 10px;
      margin-bottom: 0;
      font-weight: 400;
      cursor: pointer;
    }
  }
  div.checkbox {
    // padding: 10px 10px 10px 0;
    margin-bottom: 10px;
  }

  .checkbox label,
  .radio label {
    padding: 0;
    //AG54display: block;
  }

  .checkbox label {
    display: flex;
    align-items: center;
  }

  .checkbox label > span {
    display: flex;
    align-items: center;
  }

  div.radio > label span span {
    padding-left: 27px;
  }

  .checkbox > label::before {
    margin-right: 8px;
  }

  input[type='checkbox']:checked + label::before,
  input[type='checkbox']:checked + span::before {
    margin-right: 12px;
    margin-left: -23px;
  }
  .radio input[type='radio']:checked + label::before,
  .radio input[type='radio']:checked + span::before {
    margin-right: 12px;
  }

  /*.checkbox input[type='checkbox'],
  .checkbox-inline input[type='checkbox'],
  .radio input[type='radio'],
  .radio-inline input[type='radio'] {
    position: absolute;
    margin-top: 4px\9;
    margin-left: -20px;
  }*/

  // input[type='checkbox'],
  // input[type='radio'] {
  // display: none; AG54
  //}

  /*input[type='checkbox']:checked + span,
  input[type='radio']:checked + span {
    background-color: #000000;
    color: #fff;
  }*/

  /*  .form-group > .checkbox > label > span {
    min-height: 20px;
    padding: 10px 20px 10px 10px;
  }*/

  input[type='text'] {
    min-height: 40px;
    border: 1px solid black;
    border-radius: 0;
    padding: 10px 20px;
  }

  select {
    height: 40px;
    border: 1px solid black !important;
    border-radius: 0;
    padding: 10px 20px;
  }

  ///////overrides

  .show_fieldSet {
    legend {
      display: block !important;
    }
    .form-group.field-boolean {
      margin-bottom: 0;
      .checkbox {
        margin-bottom: 5px;
        margin-top: 0px;
      }
    }
    .form-group.field-string {
      margin-bottom: 10px;
    }
  }

  margin-right: 8px;
  .demographic {
    .birthdate > ul {
      display: flex;
    }

    .address {
      display: flex;
      width: 100%;

      .form-group {
        margin-bottom: 1rem;
      }

      > .fieldset {
        width: 100%;

        .zip {
          float: right;
          width: 60%;
          padding-left: 5px;
          &.form-group.field-error {
            margin-left: 0;
            padding-left: 15px;
            border-left: none;
          }
        }
        .state {
          float: left;
          width: 40%;
        }
      }
    }
  }

  .symptoms {
    .form-group.field-boolean {
      margin-bottom: 0;
      > .checkbox {
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }
    .form-group.field-string {
      margin-bottom: 5px;
    }
    .form-group.field-string,
    .form-group.field-number {
      @include subfield_inverted;
    }
  }

  .covid2 {
    &_covid1 {
      .household_size {
        .fieldset {
          width: 100%;
        }
        .field-number {
          width: 25%;
          float: left;
          margin-right: 5px;
        }
        .field-boolean {
          clear: left;
          margin-right: 5px;
          .checkbox {
            border: none;
            color: #515359;
          }

          .checkbox > label::before {
            margin-left: 0 !important;
          }
        }
      }
      .people_diagnosed {
        .form-group.field-number {
          display: flex;
          label {
            flex-basis: 60%;
          }
          input {
            flex-basis: 20%;
            margin-right: 5px;
          }
        }
        .checkbox {
          border: none;
          color: #515359;
        }

        .checkbox > label::before {
          margin-left: 0 !important;
        }
      }
    }
  }
}

.theme-crc {
  // symptoms
  //////////////////////////////////////////////////////////////
  // params: $primary-action-color                            //
  //////////////////////////////////////////////////////////////

  .checkbox,
  .radio {
    padding-left: 0px;
    min-width: 27px;
  }
  input[type='checkbox'],
  input[type='radio'] {
    display: none;
  }

  .checkbox > label::before,
  .radio::before,
  .radio-inline::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    border: 1px solid #888;
    margin-left: 10px; //AG54
    border-radius: 2px;
    background: radial-gradient(white, #eee);
    margin-right: 5px;
    flex-shrink: 0;
  }

  .radio::before {
    border-radius: 50%;
  }
  .indeterminate-checkbox input[type='checkbox'] + label::before,
  .indeterminate-checkbox input[type='checkbox'] + span::before {
    content: '–';
    color: $primary-action-color;
    font-size: 14px;
    margin-left: -17px;
    top: 1px;
    position: relative;
    margin-right: 8px;
    font-weight: bolder;
  }
  input[type='checkbox']:checked + label::before,
  input[type='checkbox']:checked + span::before {
    content: '✓';
    color: $primary-action-color;
    font-size: 14px;
    margin-left: -19px;
    top: 1px;
    position: relative;
    margin-right: 18px;
    font-weight: bolder;
  }
  .radio input[type='radio']:checked + label::before,
  .radio input[type='radio']:checked + span::before,
  .radio-inline input[type='radio']:checked + label::before,
  .radio-inline input[type='radio']:checked + span::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: -18px; //AG-18px;
    margin-right: 18px; //8px;
    background: $primary-action-color;
    flex-shrink: 0;
  }
  .radio input[type='radio'] + label,
  .radio input[type='radio'] + span,
  .radio-inline input[type='radio'] + label,
  .radio-inline input[type='radio'] + span {
    padding-left: 33px; //AG54
    margin-left: -23px;
    display: flex;
    align-items: center;
  }

  .checkbox label,
  .radio label {
    padding-left: 0px;
  }
}
