.SRC-ReactJsonForm {
  div.checkbox,
  div.radio {
    padding: 0; //10px 10px 10px 0;
    border: 1px solid black;
    min-width: 27px;
    > label span {
      display: block;
    }

    > label span span {
      min-height: 20px;
      padding: 10px 20px;
      margin-bottom: 0;
      font-weight: 400;
      cursor: pointer;
    }
  }

  .checkbox label,
  .radio label {
    padding: 0;
    display: block;
  }
  .checkbox input[type='checkbox'],
  .checkbox-inline input[type='checkbox'],
  .radio input[type='radio'],
  .radio-inline input[type='radio'] {
    position: absolute;
    margin-top: 4px\9;
    margin-left: -20px;
  }

  input[type='checkbox'],
  input[type='radio'] {
    display: none;
  }

  input[type='checkbox']:checked + span,
  input[type='radio']:checked + span {
    background-color: #000000;
    color: #fff;
  }

  .form-group >.checkbox > label > span {
    min-height: 20px;
    padding: 10px 20px;
  }

  input[type='text'] {
    min-height: 40px;
    border: 1px solid black;
    border-radius: 0;
    padding: 10px 20px;
  }

  select {
    height: 40px;
    border: 1px solid black;
    border-radius: 0;
    padding: 10px 20px;
  }
}

.theme-crc {
  
  // symptoms
  .SRC-ReactJsonForm .symptoms {
  .form-group.field-boolean  {
    margin-bottom: 0;
    > .checkbox {
      margin-top:5px;
      margin-bottom: 5px;

    }
  }
  .form-group.field-string {
margin-bottom: 5px;
  }
}

}
