.form-group {
  margin-bottom: 4.5rem;
}

.input--padded {
  padding: 20px;
}

.input--min-padded {
  padding: 5px;
}

.tabbedField {
  border: 1px solid #000;
}

.buttons--action {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  align-items: center;
}

.buttons--vertical-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  button {
    margin-bottom: 10px;
  }
}

.checkbox--indented {
  display: flex;
  align-items: flex-start;
  padding-top: 16px;

  p {
    margin: 0;
    padding-top: 9px;
  }
}

.form-group.checkbox--bordered {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid rgba(54, 54, 54, 0.5);
  padding-top: 2rem;
  padding-bottom: 2rem;
 
  margin-bottom: 0;

  &:last-child {
    margin-bottom: 4rem;
  }

  p {
    margin: 0;
    padding-top: 11px;
  }
}

.form-group.checkbox--bordered:last-child{
    margin-bottom: 4rem;
}

.modal--main-copy {
  padding: 20px 0px;
}
.modal-body {
  padding: 100px 50px;
}