.form-group {
  margin-bottom: 4.5rem;
}

.input--padded {
  padding: 20px;
}

.input--min-padded {
  padding: 5px;
}

.tabbedField {
  border: 1px solid #000;
}

.buttons--action {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  align-items: center;
}

.buttons--vertical-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  button {
    margin-bottom: 10px;
  }
}

.checkbox--indented {
  display: flex;
  align-items: flex-start;
  padding-top: 16px;

  p {
    margin: 0;
    padding-top: 9px;
  }
}

label.block--dark {
  display: block;
  color: #FFF;
  background-color: #000;
  text-align: center;
  padding: 1rem;
}

.error {
  color:  #ff6d6d;
}
.modal-body {
  padding: 100px 50px;
}