/* For mobile phones: */
.About,
.FAQs,
.Team,
.Contact,
.Home {
  h1 {
    margin-left: 0px;
    margin-right: 0px;
  }
  p {
    margin-left: 0;
    margin-right: 0;
  }
}

h1 {
  margin-left: 0px;
  margin-right: 0px;
}
p {
  margin-left: 0;
  margin-right: 0;
}
