@import 'abstracts/variables', 'abstracts/functions', 'abstracts/mixins';

@import 'components/synapse_form_wrapper/synapse-form-wrapper';
@import 'components/synapse_form_wrapper/overrides';
@import 'components/intro';
@import 'components/dashboard';
@import 'components/consent';
@import 'components/consent-info';
@import 'components/static';
@import 'components/floating-toolbar';
@import 'material-overrides';
@import 'forms';
@import 'mobile' screen and (max-width: 768px);

html {
  font-size: 62.5%; /* 62.5% of 16px = 10px */
  font-family: 'Source Serif Pro', serif;
}

body {
  margin: 0;
  font-family: 'Source Serif Pro', serif;
  background: #efefef
}

h1 {
 // margin-left: 20%;
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 4rem;
}
h1:first-child, h2:first-child {
  margin-top: 8rem;
}
h2 {
  margin-bottom: 4rem;
}
p {
  color: #2a2a2a;
  font-size: 1.8rem;
  line-height: 2rem;
  font-family: 'Source Serif Pro', serif;
}

a {
  color: #0085FF;
  text-decoration: none;
  cursor: pointer;
}

#root .margin-top-std {
  margin-top: 4rem;
}

.cookiesBanner {
  background: #0085FF;
  color: white;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  font-size: 15px;
  padding: 20px 20px;
  // stick to bottom
  position: fixed;
  bottom: 15px;
  z-index: 6;
  width: 100%;

  a {
    color: white;
  }
  button {
    height:33px;
    margin-left: 10px;
  }
}

div.intro {
  background-color: #0084FF;
  color: #fff;
  font-size: 1.6em;
  line-height: 1.8rem;
  font-family: 'Source Serif Pro', serif;
  padding: 3.2rem 4rem;

  p , span {
color: #fff;
  }

  h1:first-child, h2:first-child {
    margin-top: 4.8rem;
  }
}

// material ui "lab" component override is challenging: https://github.com/mui-org/material-ui/issues/19427
// overriding the style here:
#root .MuiAlert-filledInfo {
  border-radius: 0;
  background-color: #0084FF;
  padding: 20px 30px;
}


