@import 'abstracts/variables', 'abstracts/functions', 'abstracts/mixins';

@import 'components/synapse_form_wrapper/synapse-form-wrapper';
@import 'components/synapse_form_wrapper/overrides';
@import 'components/intro';
@import 'components/dashboard';
@import 'components/consent';
@import 'components/consent-info';

html {
  font-size: 62.5%; /* 62.5% of 16px = 10px */
}

h1 {
  margin-left: 20%;

  font-size: 4rem;

  font-family: 'Source Serif Pro', serif;
}

p {
  color: #2a2a2a;
  font-size: 1.8rem;
  line-height: 2rem;
  margin-left: 20%;
  margin-right: 10%;
  font-family: georgia;
  //width: 320px;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f5f5f5;
}


.topnavContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.topnav {
  overflow: hidden;
  background-color: #fcfcfc;
}

.topnav a {
  float: left;
  color: #2a2a2a;
  text-align: center;
  padding: 16px 16px;
  margin-left: 32px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ff6d6d;
  color: #ffff;
}

.topnav a.active {
  border-bottom: 4px solid black;
  color: black;
}


.topnav {
  overflow: hidden;

}





.topnav .icon {
  display: none;
}


@media screen and (max-width: 600px) {


  .topnavContainer {
    align-items: flex-start;
    justify-content: space-between;
  }

  .topnavButtons {
    margin-top:4px;
  }
  .topnav {
    order: 1
  }
  .topnav a {
    padding: 4px 16px }

  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav a:not(.icon) {
    margin-left:10px
  }


  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    padding: 4px;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}











.NavToggle {
  display: 'flex';
  justify-content: 'center';
  &__text {
    align-self: center;
    font-size: 0.75rem;
  }
}

.twoButtons {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  align-items: center;
}

.reg {
  padding: 20px;
  margin-top: 10px;
}

.buttonGroup .btn-block:first-child {
  margin-bottom: 10px;
}

#toolbar {
  position: fixed; /* Make it stick/fixed */
  top: 0px; /* Stay on top */

  transition: top 0.3s; /* Transition effect when sliding down (and up) */

  position: fixed;
  text-align: center;
  padding: 10px;

  right: 0;
  left: 0;
  width: initial;
  background-color: #fff;
  height: 56px;
  z-index: 10;
  /* border: 1px solid; */
  transition: top 0.3s;
}

.larger {
  font-size: 32px;
  line-height: 34px;
}

.buttonGroup .btn {
  background: #fff;
  border: 1px solid black;
  color: #000;
}

.buttonGroup .btn.active {
  background: #000;
  border: 1px solid black;
  color: #fff;
}

.MuiToggleButtonGroup-root.verticalToggle {
  display: block;
  background-color: transparent;
  .MuiToggleButtonGroup-grouped {
    display: block;
    width: 100%;
    margin-bottom: 8px;
    background: transparent;
    border-color: #000000;
    color: #000;
    text-align: left;
    padding-left: 2em;
  }

  .MuiToggleButton-root.Mui-selected {
    color: #fff;
    background-color: #000;
  }
  .MuiToggleButtonGroup-grouped:not(:last-child) {
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
  }
  .MuiToggleButtonGroup-grouped:not(:first-child) {
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;

    border-left-style: solid;
    border-color: #000000;
  }
}

.loginType {
  border: 1px solid #000;

  .MuiTabs-root {
    border-bottom: 1px solid black;
  }

  .MuiTab-textColorPrimary.Mui-selected {
    color: #fff;
    background-color: #000;
  }

  .MuiTab-textColorPrimary {
    color: #000;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  h1 {
    margin-left:0px;
    margin-right: 0px;

  }
  p {
    margin-left: 0;
    margin-right: 0;
  }
}
