<html>


<div>

  <h2>About the Study</h2>

  <p>

    COVID Recovery Corps is a <b>research study.</b>
    <p>
      The goal of the study is to collect information from participants on how the <b> body fights COVID-19</b>. </p>
    <p>
      If you decide to join this study, we will ask you to complete a <b> survey</b>. </p>
    <p>We may also ask you to provide a spit, blood, nasal or fecal swab sample. This study will last at least for
      <b>12 months</b></p>.




</div>,


<div>
  <h2> What will I be asked to do?</h2>
  <p> COVID Recovery Corps is a <b>research study.</b>
    <p>
      The goal of the study is to collect information from participants on how the <b> body fights COVID-19</b>. </p>
    <p>
      If you decide to join this study, we will ask you to complete a <b> survey</b>. </p>
    <p>We may also ask you to provide a spit, blood, nasal or fecal swab sample. This study will last at least for
      <b>12 months</b></p>.

</div>,




<div>
  <h2>What are the benefits?

  </h2>
  <p>

    COVID Recovery Corps is a <b>research study.</b>
    <p>
      The goal of the study is to collect information from participants on how the <b> body fights COVID-19</b>. </p>
    <p>
      If you decide to join this study, we will ask you to complete a <b> survey</b>. </p>
    <p>We may also ask you to provide a spit, blood, nasal or fecal swab sample. This study will last at least for
      <b>12 months</b></p>.


</div>,
<div>
  <h2> What are the risks?</h2>
  <p>

    COVID Recovery Corps is a <b>research study.</b>
    <p>
      The goal of the study is to collect information from participants on how the <b> body fights COVID-19</b>. </p>
    <p>
      If you decide to join this study, we will ask you to complete a <b> survey</b>. </p>
    <p>We may also ask you to provide a spit, blood, nasal or fecal swab sample. This study will last at least for
      <b>12 months</b></p>.



</div>,
<div>
  <h2> Your Data and Privacy</h2>
  <p>

    COVID Recovery Corps is a <b>research study.</b>
    <p>
      The goal of the study is to collect information from participants on how the <b> body fights COVID-19</b>. </p>
    <p>
      If you decide to join this study, we will ask you to complete a <b> survey</b>. </p>
    <p>We may also ask you to provide a spit, blood, nasal or fecal swab sample. This study will last at least for
      <b>12 months</b></p>.



</div>,

<div>
  <h2>Sharing your data with future researchers</h2>
  <p>

    COVID Recovery Corps is a <b>research study.</b>
    <p>
      The goal of the study is to collect information from participants on how the <b> body fights COVID-19</b>. </p>
    <p>
      If you decide to join this study, we will ask you to complete a <b> survey</b>. </p>
    <p>We may also ask you to provide a spit, blood, nasal or fecal swab sample. This study will last at least for
      <b>12 months</b></p>.



</div>,
<div>
  <h2>Not Medical Care
  </h2>
  <p>

    COVID Recovery Corps is a <b>research study.</b>
    <p>
      The goal of the study is to collect information from participants on how the <b> body fights COVID-19</b>. </p>
    <p>
      If you decide to join this study, we will ask you to complete a <b> survey</b>. </p>
    <p>We may also ask you to provide a spit, blood, nasal or fecal swab sample. This study will last at least for
      <b>12 months</b></p>.



</div>,

<div>
  <h2> Leaving the study
  </h2>
  <p>

    COVID Recovery Corps is a <b>research study.</b>
    <p>
      The goal of the study is to collect information from participants on how the <b> body fights COVID-19</b>. </p>
    <p>
      If you decide to join this study, we will ask you to complete a <b> survey</b>. </p>
    <p>We may also ask you to provide a spit, blood, nasal or fecal swab sample. This study will last at least for
      <b>12 months</b></p>.



</div>,

<div>
  <h2> Things you should consider before you say yes

  </h2>
  <p>

    COVID Recovery Corps is a <b>research study.</b>
    <p>
      The goal of the study is to collect information from participants on how the <b> body fights COVID-19</b>. </p>
    <p>
      If you decide to join this study, we will ask you to complete a <b> survey</b>. </p>
    <p>We may also ask you to provide a spit, blood, nasal or fecal swab sample. This study will last at least for
      <b>12 months</b></p>.



</div>,

<div>
  <h2> How to contact us?
  </h2>
  <p>

    COVID Recovery Corps is a <b>research study.</b>
    <p>
      The goal of the study is to collect information from participants on how the <b> body fights COVID-19</b>. </p>
    <p>
      If you decide to join this study, we will ask you to complete a <b> survey</b>. </p>
    <p>We may also ask you to provide a spit, blood, nasal or fecal swab sample. This study will last at least for
      <b>12 months</b></p>.



</div>,
</html>