.theme-covid-corps .btn-action.save, .theme-covid-corps .btn-action.validate {
  color: red; }

.PatientCorps {
  margin-top: -75px; }

.reg {
  padding: 20px;
  margin-top: 10px;
  border: 1px solid gray; }

.buttonGroup .btn-block:first-child {
  margin-bottom: 10px; }

div.Introcontent {
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  padding: 0 50px; }

div.Introcontent2 {
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  padding: 0 50px; }

div.Introcontent:before {
  content: "";
  position: absolute;
  background: #FF6D6D;
  top: 0;
  right: 0;
  z-index: -1;
  width: 134px;
  height: 40%; }

div.Introcontent2:after {
  content: "";
  position: absolute;
  background: #FF6D6D;
  left: 0;
  bottom: 0;
  z-index: -1;
  width: 154px;
  height: 20%; }

  h2 {
    font-size: "36px"
  }

#toolbar {
  position: fixed;
  /* Make it stick/fixed */
  top: 0;
  /* Stay on top */
  transition: top 0.3s;
  /* Transition effect when sliding down (and up) */
  position: fixed;
  text-align: center;
  padding: 10px;
  right: 0;
  left: 0;
  width: initial;
  background-color: #fff;
  height: 56px;
  z-index: 10;
  /* border: 1px solid; */
  transition: top 0.3s; }

.larger {
  font-size: 32px;
  line-height: 34px; }

.buttonGroup .btn {
  background: #fff;
  border: 1px solid black;
  color: #000; }

.buttonGroup .btn.active {
  background: #000;
  border: 1px solid black;
  color: #fff; }

.Consent {
  padding-top: 84px; }

.Consent button.x {
  color: #fff;
  background-color: #000; }

.ConsentInfo .quizAnswer {
  margin: 20px; }

.Dashboard ul.items {
  position: relative;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #f9f9f9; }

.Dashboard ul.items:before {
  content: "";
  width: 1px;
  background-color: transparent;
  border-left: 1px dashed #dcdcdc;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 2.3rem; }

.Dashboard ul.items li {
  margin-left: -2.3rem; }

.Dashboard ul.items div.btn-container {
  display: inline-block; }

.Dashboard ul.items div.btn-container .time {
  display: inline-flex; }

.Dashboard ul.items div.btn-container .time span {
  font-size: 10px;
  font-style: italic;
  padding-left: 3px; }

.Dashboard ul.items li div.item {
  padding-left: 4rem; }

.Dashboard div.subMenu ul svg {
  margin: 0 1.2rem 0 0; }

.Dashboard ul.items .fa-circle {
  border-radius: 50%;
  border: 1px solid #dcdcdc;
  color: #f9f9f9; }

.Dashboard ul.items .btn-link {
  color: #000;
  text-align: left;
  width: 150px;
  white-space: pre-wrap; }

.Dashboard .svg-inline--fa.fa-w-16 {
  width: 1em; }
